body{
  margin: 0;
}
section{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}
.welcome{
  width: 50%;
  margin-left: 70px;
}
.welcome h1{
  font-size: 60px;
  font-family: 'Pushster', cursive;
}
.welcome h4{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.welcome p{
  color: gray;
  font-weight: 700;

}
.welcome-pic{
  width: 50%;
}
.welcome-pic img{
  height: 500px;
}
.hire-me-button{
  background-image: linear-gradient(tomato,red);
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
}